.table-20-10-45-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 10%; }
  th:nth-child(3) { width: 45%; }
}

.table-20-45-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 45%; }
}

.table-20-X {
  th:nth-child(1) { width: 20%; }
}

.table-20-X-25 {
  th:nth-child(1) { width: 20%; }
  th:nth-child(3) { width: 25%; }
}

.table-12-7-7-45-X {
  th:nth-child(1) { width: 12%; }
  th:nth-child(2) { width: 7%; }
  th:nth-child(3) { width: 7%; }
  th:nth-child(4) { width: 45%; }
}

.table-15-15 {
  th:nth-child(1) { width: 15%; }
  th:nth-child(2) { width: 15%; }
}
