<!doctype html>
<html>
  <head>
    <title><%= title(current_page, defined?(gem_info) && gem_info, defined?(ruby_version) && ruby_version) %></title>
    <%= stylesheet_link_tag "all3" %>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="Ruby's standard library is divided into default and bundled gems"/>
    <meta name="keywords" content="ruby, stdlib, bundled, default, gems"/>
    <link rel="shortcut icon" href="/images/stdgems.favicon.png">

    <script>
document.addEventListener('DOMContentLoaded', function(){
  ['h2', 'h3'].forEach(function(h){
    document.querySelectorAll(h).forEach(function(e){
      e.innerHTML = '<a href="#' + e.id + '">' + e.innerHTML + '</a>'
    })
  })
})
    </script>
  </head>

  <body>
    <div class="world">
      <section class="post-header">
        <a href="/" class="ruby"><img src="/images/stdgems.logo.png" alt="stdgems"></a>
        <h1 class="post-heading" id="top"><%= heading(current_page, defined?(gem_info) && gem_info, defined?(ruby_version) && ruby_version) %></h1>
      </section>

     	<article class="post"><%= yield.sub(%r_<h1.*?</h1>_, '') %></article>
    </div>
  </body>
</html>
